*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background-image: url(https://wallpaperaccess.com/full/16692.jpg);
    font-family: poppins;
}
body{
    align-items: center;
}
.Intro{
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 50px;
}
header{
    color: white;
    text-align: center;
}
header h1{
    color: orange;
}
header p{
    width: 500px;
    margin-left: 30%;
    padding-top: 20px;

}
.main{
    color: white;
    text-align: center;
    text-decoration: none;
}
.birth{
    
    margin-left: 450px;
    margin-top: 30px;
    font-size: large;
    position: relative;
    left: -200px;
    top: -50px;
}
.birth input{
    background: green;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 10px;
    width:151px;
    height: 30px;
}
.birth >span,.select>span{
    font-size: 30px;
}
.select{
    margin-top: 20px;
    margin-left: 40%;
    font-size: large;
    height: 20px;
    width: 200px;
    
}
.select span{
    height: 30px;
    font-size: large;
}
#gender{
    width:200px;
    height:30px;
    color: green;
}
.submit input{
    margin-top: 20px;
    background: green;
    height: 40px;
    width: 100px;

}
.user-name{
    margin-top: 20px;
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
    
    
}