*{
    margin: 0;
    border: 0;
    background-image: url(https://wallpaperaccess.com/full/16692.jpg);
}
header{
    color: white;
    text-align: center;
    
}
header h1{
    color: orange;
}
header p{
    width: 500px;
    margin-left: 30%;
    padding-top: 20px;

}
main{
    color: white;
    text-align: center;
}
.birth{
    width: 200px;
    height: 30px;
    margin-left: 550px;
    margin-top: 30px;
    
}
.birth input{
    background: orange;
    padding-top: 10px;
}
.select{
    margin-top: 20px;
    margin-left: 10px;
}
.submit{
    margin-top: 20px;
}
.user-name{
    margin-top: 20px;
}